APP_URL=https://shubhk.me
REGISTRY_URL=https://shubhk.me/r

# https://github.com/settings/tokens
GITHUB_API_TOKEN=

# https://www.dmca.com/ProtectionPro.aspx
NEXT_PUBLIC_DMCA_URL=https://www.dmca.com
